python-dotenv==1.0.0
selenium==4.13.0
codedx-api @ git+https://github.com/broadinstitute/dsp-appsec-codedx-api-client-python.git@cf0de6fcdd0a4db98f2c2a35bd9d2ae7e8056d6b
defectdojo_api @ git+https://github.com/DefectDojo/defectdojo_api#master
google-cloud-storage==2.11.0
